# AWS lambda organization
ORG=

# Arbitrum signer
PRIVATE_KEY=

# Arbitrum RPC endpoint
RPC_URL=
# eventnode graphql endpoint
SUBQL_URL=

# moby S3 info
MOBY_DATA_REGION=
MOBY_DATA_BUCKET=
MOBY_DATA_S3_BASE_URL=

# data source from AWS S3 bucket
MARKET_DATA_URL=
OVERALL_URL=
INSTRUMENTS_URL=
FUTURES_INDICES_URL=
SPOT_INDICES_URL=
TRADE_DATA_URL=

# related endpoint
MOBY_API_QUERY_BASE_URL=
MOBY_LAMBDA_ENDPOINT=